.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href='#') Project name
			.nav-collapse
				ul.nav
					li.active
						a(href='#') Home
					li
						a(href='#about') About
					li
						a(href='#contact') Contact
.container
	//
		Main hero unit for a primary marketing message or call to action 
	section#callsGrid
			.page-header
					h1 Calls
				table.table.table-bordered.table-striped
					thead
						tr
							th 
							th Date &amp; Time
							th Duration
							th Caller
					tbody
						each call in calls
							tr
								td 
									a.btn(href="/calls/#{call.id}/play") Play »
								td= call.start
								td= call.duration
								td= call.callingParty
	include footer
